@media (max-width: 768px){
	#links-mobile {
		margin-top: -10px;
	}

	#links-mobile .col-xs-6:first-child a img{
		margin-right: 10px;
	}

	#links-mobile .col-xs-6:nth-child(2) a img{
		margin-left: 10px;
	}

	header nav .col-xs-4 a{
		font-size: 14px;
		line-height: 34px;
		text-transform: uppercase;
		font-weight: bold;
	}

	header nav .col-xs-4:first-child a{
		text-align: left;
	}

	header nav .col-xs-4:last-child a{
		text-align: right;
	}

	#minha-cara {
		position: relative;
		margin: 0 auto;
		left: -3px;
	}

	#ultimos-trabalhos .um-trabalho {
		margin-bottom: 21px;
	}

	section#cartao-de-visita h1{
		font-size: 28px;
		line-height: 32px;
	}

	div#informacoes nav span{
		padding: 12px 20px;
		border: 1px solid #fff;
		text-align: center;
		text-transform: uppercase;
		font-weight: normal;
		color: #515151;
		margin-left: 15px;
		cursor: pointer;
	}

	div#informacoes nav span:first-child{
		margin-left: 0px;
	}
}