
* {
	padding: 0;
	margin: 0;
}


html, body {
	font-family: 'Roboto Condensed', sans-serif;
	background-color: #f4f4f4;
	height: 100%;
}

a, a:hover, a:active, a:visited, a:focus {
	color: inherit;
	text-decoration: none;
}

#all {
	height: 100%;
}

#tags {
	display: none;
	text-align: center;
}

#minha-cara {
	position: relative;
	margin: 0 auto;
}

header {
	background-color: #fff;
	padding-bottom: 36px;
	padding-top: 30px;
}

header nav .col-md-3 {
	font-size: 17px;
	line-height: 34px;
	text-transform: uppercase;
	font-weight: bold;
}

header nav .col-md-3:hover {
	opacity: 0.7;
}

header nav .col-md-3:first-child {
	text-align: left;
}

header nav .col-md-3:first-child img{
	margin: 0px 12px 0px 0px;
}

header nav .col-md-3:last-child {
	text-align: right;
}

header nav .col-md-3:last-child img{
	margin: 0px 0px 0px 12px;
}

div#links1 img:hover, div#links2 img:hover{
	opacity: 0.7;
}

div#links1 img:first-child{
	margin: 0px 0px 0px 12px!important;
}

div#links2 img:last-child{
	margin: 0px 0px 0px 12px!important;
}

header nav .col-md-3:first-child, header nav .col-md-3:last-child, div#links1, div#links2{
	position: relative;
	top: 24px;
}

img#assinatura {
	position: relative;
	top: 10px;
	left: 6px;
}

.fecha-alerta {
	position: absolute;
	right: -10px;
	top: -10px;
	font-size: 20px;
	cursor: pointer;
}

.alerta-topo {
	width: auto!important;
	display: table;
	position: fixed;
	left: 50%;
 	top: 20px;
	transform: translate(-50%, 0);
	z-index: 100;
	border-radius: 0px;

	-webkit-box-shadow: -2px 10px 41px -11px rgba(0,0,0,0.32);
	-moz-box-shadow: -2px 10px 41px -11px rgba(0,0,0,0.32);
	box-shadow: -2px 10px 41px -11px rgba(0,0,0,0.32);
}



#conteudo {
	position: relative;
	height: auto;
	min-height: 400px;
	padding: 20px 0px 80px 0px;
}

section#cartao-de-visita h1{
	font-size: 42px;
	line-height: 44px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	width: 100%;
	height: auto;
}

section#cartao-de-visita h2{
	margin-bottom: 40px;
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
	height: auto;

}

section#cartao-de-visita span{
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
	background-color: #f9f9f9;
	padding: 8px 16px 10px 16px;
	display: inline-table;
	margin: 0px 10px 6px 10px;
	text-align: center;
	border: 1px solid #ccc;
}

section#cartao-de-visita span i{
	line-height: 20px;
	font-size: 18px;
	position: relative;
	bottom: -3px;
	color: #515151;
}

section#ultimos-trabalhos {
	border-top: 1px solid #fff;
	padding-top: 30px;
	margin-top: 50px;
}

section#ultimos-trabalhos:hover h2>i {
	color: #f74030;
}

section#ultimos-trabalhos h2{
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 30px;
	margin-top: 0px;
	padding-left: 24px;
}

section#ultimos-trabalhos h2 i{
	position: relative;
	top: 5px;
}

section#ultimos-trabalhos div.um-trabalho {
	position: relative;
	left: 24px;
}

section#ultimos-trabalhos div.um-trabalho div.row div.col-md-11{
	background-color: #fff;
	padding-top: 13px;
	padding-bottom: 20px;
}

button.std_orange-btn {
	background-color: #f74030;
	color: #fff!important;
	font-size: 13px;
	margin: 20px 0px 20px 0px;
}

button.std_orange-btn i{
	position: relative;
	top: -2px;
	margin-right: 4px;
}

button.std_orange-btn:hover {
	opacity: 0.8;
	background-color: #f74030;
}

button#mais-trabalhos {
	float: right;
}


.aba {
	display: none;
}
.aba-ativa {
	display: block;
}



div#informacoes nav{
	text-align: center;
	margin-bottom: 52px;
	margin-top: 10px;
}

div#informacoes nav span{
	padding: 12px 36px;
	border: 1px solid #fff;
	text-align: center;
	text-transform: uppercase;
	font-weight: normal;
	color: #515151;
	margin-left: 15px;
	cursor: pointer;
}

div#informacoes nav span:hover{
	background-color: #f8f8f8;
	font-weight: bold;
}

span.botao-ativo {
	background-color: #fff!important;
	color: #000!important;
	font-weight: bold!important;
	border-bottom: 1px solid #e43f30!important;
}

section#sobre h2 {
	font-size: 23px;
	text-transform: uppercase;
}

section#sobre h2 i{
	color: #e43f30;
	font-style: normal;
	font-weight: bold;
	font-size: 27px;
}

section#sobre h2 b{
	letter-spacing: -1px;
}

section#sobre p{
	font-size: 16px;
}

section#sobre h3 {
	font-size: 18px;
	display: table;
	font-weight: bold;
	background-color: #fff;
	padding: 10px 20px;
	border-left: 2px solid #e43f30;
	margin-top: 26px;
}


section#contato h3{
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
	background-color: #f9f9f9;
	padding: 8px 20px 10px 20px;
	display: inline-table;
	border-left: 1px solid #e43f30;
	margin-bottom: 16px;
	margin-top: -20px;
	margin-right: 30px;
}

section#contato h3 i{
	line-height: 20px;
	font-size: 18px;
	position: relative;
	bottom: -3px;
}

section#contato p{
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 20px;
}

section#contato form {
	margin-top: 50px;
}

section#contato form input{
	border-radius: 0px;
	border: 1px solid #ccc;
	box-shadow: none;
	height: 43px!important;
}

section#contato form button{
	line-height: 16px;
	font-size: 15px;
	height: 38px;
	border-radius: 0px;
}

section#contato form button i{
	font-size: inherit!important;
	position: relative;	
	top: 2px;
}

section#oque-faz span{
	display: inline-block;
	padding: 12px 26px;
	background-color: #fff;
	color: #000;
	text-transform: uppercase;
	font-size: 26px;
	position: relative;
	left: 20px;
	margin: 0px 20px 20px 0px;
	border-right: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
	cursor: pointer;
}

section#oque-faz span:hover i{
	color: #e55145;
}

section#oque-faz span i{
	position: relative;
	top: 3px;
	margin-right: 8px;
	/*color: #e55145;*/
	color: #777;
}

div#portfolio nav{
	text-align: center;
	margin-bottom: 52px;
	margin-top: 10px;
}

div#portfolio nav span{
	padding: 12px 18px;
	border: 1px solid #fff;
	text-align: center;
	text-transform: uppercase;
	font-weight: normal;
	color: #515151;
	margin-left: 15px;
	cursor: pointer;
}

div#portfolio nav span:hover{
	background-color: #f8f8f8;
}

section#trabalhos div.um-trabalho>div.row>div.col-md-11 {
	background-color: #fff;
	height: 320px;
	padding: 0;
	margin-bottom: 30px;
	border-bottom: 1px solid #ccc;
}

div.thumb-trabalho {
	width: 100%;
	height: 200px;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

div.thumb-trabalho img {
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

div.um-trabalho h3{
	padding-left: 13px;
	margin-top: 12px;
	margin-bottom: 0px;
	font-size: 17px;
	line-height: 19px;
	font-weight: bold;
}

div.um-trabalho p{
	padding: 0px 13px;
	margin-top: 6px;
	font-size: 14px;
	color: #515151;
	line-height: 18px;
}

div.um-trabalho span{
	display: block;
	padding: 0px 13px;
	margin-top: 3px;
	font-size: 12px;
	color: #515151;
	line-height: 16px;
}

div.um-trabalho span b{
	margin-right: 5px;
}

div.um-trabalho span i:last-child{
	margin-right: 0px;
}

section#trabalho div.col-md-8 h1{
	font-size: 24px;
	line-height: 26px;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
}

section#trabalho div.col-md-8 h2{
	font-size: 17px;
	line-height: 20px;
	text-align: center;
}

div#competencias-usadas {
	text-align: center;
	font-size: 13px!important;
	margin-bottom: 17px;
}

div#competencias-usadas span.mdl-chip{
	margin-right: 10px;
}

section#trabalho div.col-md-8 img{
	width: 100%;
	height: auto;
	margin: 20px 0px 0px 0px;
}

section#trabalho div.col-md-8 figcaption{
	width: 100%;
	height: auto;
	margin: 6px 0px 20px 0px;
}

section#trabalho div.col-md-8 p{
	font-size: 16px;
	line-height: 23px;
	font-weight: normal;
	font-family: "Roboto";
	text-align: justify;
}

#sobe {
	width: 80px;
	height: 80px;
	display: block;
	font-size: 50px;
	text-align: center;
	margin: 49px auto;
	color: #515151;
	border-radius: 50px;
	border: 1px solid #ccc;
}
#sobe a i{
	position: relative;
	top: 8px;
	font-size: 50px;
	text-align: center;
}









