// Text
$standard-font-size: 16px;

// Colors
$orange1: #f74030;
$orange2: #e43f30;
$gray1: #333;
$gray2: #515151;

// Media queries
$smartphone-max-width: 768px;
$tablet-max-width: 1024px;
$desktop-max-width: 1980px;
$large-desktop-max-width: 2048px;