@media (max-width: 768px) {
	#menu-mob {
		width: 104.6%;
		height: 70px;
		background-color: #515151;
		color: #fff;
		position: fixed;
		z-index: 99;
	}

	#logo-mob {
		height: 50px;
		position: relative;
		top: 10px;
		left: 20px;
	}

	#mob-menu_btn{
		position: relative;
		top: 17px;
		right: 9px;
	}

	#conteudo {
		z-index: 70;
		position: relative;
		padding-top: 100px;
	}

	#topo-categoria .col-md-10 h2{
		font-size: 19px;
	}
}